[run]
source = branchpro
omit = 
    branchpro/tests/*
    branchpro/apps/_simulation.py
    branchpro/apps/simulation_dash_app.py
    branchpro/apps/_inference.py
    branchpro/apps/inference_dash_app.py
